@page "/Meeting/{id}"
@using Newtonsoft.Json
@inject HttpClient Http
@rendermode InteractiveServer

@code {

    [Parameter] public string? Id { get; set; }

    private PartnerSnapshot? _snapshot;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5266/api/partnerinfo");

        response.EnsureSuccessStatusCode();

        var content = await response.Content.ReadAsStringAsync();
        _snapshot = JsonConvert.DeserializeObject<PartnerSnapshot>(content);
    }

    public class PartnerSnapshot
    {
        public readonly string? FirstName;
        public readonly string? LastName;
        public readonly string? EmailAddress;
        public readonly string? PrimaryPhone;

        public PartnerSnapshot(string? firstName, string? lastName, string? emailAddress, string? primaryPhone)
        {
            FirstName = firstName;
            LastName = lastName;
            EmailAddress = emailAddress;
            PrimaryPhone = primaryPhone;
        }
    }

}

<PageTitle>Meeting</PageTitle>

<h1>Meeting</h1>

<table width="80%">
    <tr>
        <th colspan="2">@_snapshot?.FirstName @_snapshot?.LastName</th>
    </tr>

    <tr>
        <td>First Name:</td>
        <td>@_snapshot?.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@_snapshot?.LastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td> @_snapshot?.EmailAddress</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@_snapshot?.PrimaryPhone</td>
    </tr>
</table>
