@page "/Meeting/{id}"
@using Frontend.Services
@using org.fortium.fx.common
@rendermode InteractiveServer
@inject PartnerService PartnerService;

@code {
    private Partner? snapshot;

    [Parameter] public string? id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        snapshot = await PartnerService.GetPartner(id!);
    }

}

<PageTitle>Meeting</PageTitle>

<h1>Meeting</h1>

<table width="80%">
    <tr>
        <th colspan="2">@snapshot?.FirstName @snapshot?.LastName</th>
    </tr>

    <tr>
        <td>First Name:</td>
        <td>@snapshot?.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@snapshot?.LastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td> @snapshot?.EmailAddress</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@snapshot?.PrimaryPhone</td>
    </tr>
</table>
