@page "/Meeting/{id}"
@using Newtonsoft.Json
@inject HttpClient Http
@rendermode InteractiveServer

@code {

    [Parameter] public string id { get; set; }

    private PartnerSnapshot? snapshot;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5266/api/partnerinfo");

        response.EnsureSuccessStatusCode();

        var content = await response.Content.ReadAsStringAsync();
        snapshot = JsonConvert.DeserializeObject<PartnerSnapshot>(content);
    }

    public class PartnerSnapshot
    {
        public string? firstName;
        public string? lastName;
        public string? emailAddress;
        public string? primaryPhone;
    }

}

<PageTitle>Meeting</PageTitle>

<h1>Meeting</h1>

<table width="80%">
    <tr>
        <th colspan="2">@snapshot?.firstName @snapshot?.lastName</th>
    </tr>

    <tr>
        <td>First Name:</td>
        <td>@snapshot?.firstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@snapshot?.lastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td> @snapshot?.emailAddress</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@snapshot?.primaryPhone</td>
    </tr>
</table>
